@model Icaz.com.Models.Member

@{
    ViewData["Title"] = "Yazar";
}

@if (User.Identity.IsAuthenticated)
{
    <div>

        <hr />
        <div class="row ">
            <h2 class="" style="color:dimgrey">
                
                <div class="col-12 d-flex justify-content-around">
                    @Html.DisplayFor(model => model.Ad)  @Html.DisplayFor(model => model.Soyad)
                    <span class="text-end col-9"><img class="w-25 " src="/images/@Model.Fotograf" class="rounded mx-auto d-block" alt="@Model.Ad profil fotoğrafı"> </span>
                </div>
                
            </h2>
            <span class="col-sm-6 fs-5" style="color:gold">
                @Html.DisplayFor(model => model.JoinDate) Tarihinden bu yana üye
            </span>
            <hr />
            <h3>Hakkında</h3>
            <textarea rows="5" readonly>
                @Html.DisplayFor(model => model.MemberDetail)
            </textarea>

        </div>
    </div>
    <div>
        <a class="btn btn-dark m-2" asp-action="Index">←Anasayfaya Git</a> <span>

            <a class="btn btn-dark m-2" asp-controller="User" asp-action="MemberUpdate">Kendi bilgilerini Düzenle→</a>
            
        </span>
    </div>
}
else
{
    <div>

        <hr />
        <div class="row">
            <h2 class="" style="color:dimgrey">
                @Html.DisplayFor(model => model.Ad)  @Html.DisplayFor(model => model.Soyad)

            </h2>
            <span class="col-sm-6 fs-5" style="color:gold">
                @Html.DisplayFor(model => model.JoinDate) Tarihinden bu yana üye
            </span>
            <hr />
            <h3>Hakkında</h3>
            <textarea rows="2" readonly>
                @Html.DisplayFor(model => model.MemberDetail)
            </textarea>

        </div>
    </div>
    <div>
        <a class="btn btn-dark m-2" asp-action="Index">Anasayfaya Git</a>
    </div>
}


